*{
    margin: 0;
    padding: 0;
}
button {
    border-style: none;
    background: #004E36;
    color: #fff;
    height: 50px;
    width: 150px;
    font-size: 16px;
    margin-bottom: 5px;
}
h1 {
    font-size: 55px;
}
/* top navbar */
.navBar {
    background: #004e36;
    display: flex;
    height: 65px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
/* left logo */
.logo {
    padding: 10px 20px 0 0;
    border-right: 1px solid white;
    margin: 0 20px 0 50px;
}
/* browsing list */
.lists {
    display: flex;
}
.list {
    margin-right: 60px;
    margin-top: 20px;
}
ul {
    display: flex;
    list-style: none;
    color: #fff;
    gap: 25px;
}
li {
    /* margin-right: 30px; */
    font-size: 18px;
}
/* search bar */
.searchBar {
    display: flex;
    margin-top: 10px;
}
.search{
    height: 30px;
    width: 300px;
    background: #fff;
    display: flex;
    padding: 5px;
}
.box {
    border-style: none;
    width: 250px;
    font-size: 16px;
    opacity: 65%;
    padding-top: 3px;
}
/* magnifying glass icon inside search bar(downloaded svg) */
.searchIcon {
    background: #fff;
    height: 20px;
    margin: 5px 12px 0 5px;
}
.listIcon {
    display: flex;
}
/* list icon next to list (downloaded svg) */
.navList {
    height: 26px;
    margin: -5px 15px 0 20px;
}
.logIn {
    margin-top: 12px;
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.logIn p {
    color: #fff;
    background-color: #004E36;
}
/* find a store div */
.store {
    /* border: solid black; */
    height: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 15px;
}
.store p {
    color: #004e36;
}
.store img {
    height: 16px;
    margin: 0 60px 0 10px;
}
/* mainDeal */
.mainDeal img{
    max-width: 100%;
    height: 600px;
}
.dealDesc {
    z-index: 9;
    position:absolute;
    width: 500px;
    padding: 30px 70px 0 70px;
    background-color: #fff;
    margin-top: 60px;
}
#deal {
    font-size: 70px;
    font-weight: 530;
}
.description {
    margin: 10px 0 12px 0;
    line-height: 1.3em;
    font-size: 18px;
}
#valid {
    margin: 10px 0 25px 0;
    font-size: 15px;
    opacity: 65%;
}

/* buttons */
.buttOn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 120px;
    margin-top: -5px;
    background-color: #f8f7f5;
}
.choices {
    border: 1px solid #004E36;
    background: none;
    height: 50px;
    width: 200px;
    font-size: 16px;
    color: #004E36;
    font-weight: 550;
}

/* middle deal */
.middle{
    margin: 120px 0 80px 0;
}
.midDesc {
    z-index: 1;
    position: absolute;
    padding: 30px 60px 20px 55px;
    width: 450px;
    background-color: #fff;
    box-shadow: 30px 0 30px rgba(0,0,0,.1);
    margin: 202px 0 0 120px;
}
.midDeal {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
}
#midImg {
    width: 78%;    
}

/* SALES */
.lowerSales {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 60px 30px;
}
.sale img {
    width: 300px;
}
.sale p {
    width: 300px;
    margin: 10px 0 10px 0;
    color: #004E36;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/* lower Deal */
.lowerDeal {
    margin: 100px 0 100px 0;
}
.lowerDesc {
    width: 500px;
    margin: 20px 0 0 150px;
    position: absolute;
}
.lowerDesc p {
    width: 450px;
    margin: 10px 0 20px 0;
    font-size: 18px;
    background: none;
}
.salad {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.empty {
    width: 400px;
    background: #f8f7f5;
}
.salad img {
    width: 50%;
}

/* BOTTOM PICNIC */
.bottomPicnic {
    margin-top: 160px;
    margin-bottom: 100px;
}
.picnicBG {
    width: 1000px;
    height: 760px;
    background: #f8f7f5;
}
.picnic {
    width: 36%;
    z-index: 9;
    position: absolute;
    left: 230px;
    margin-top: -60px;
}
.picnicDesc {
    z-index: 9;
    position: absolute;
    right: 130px;
    width: 450px;
    margin-top: 60px;
    font-size: 18px;
}
.picnicDesc h1 {
    font-size: 40px;
}
.picnicDesc p {
    margin: 12px 0 20px 0;
    background: none;
}
#order {
    opacity: 65%;
    font-size: 15px;
}
.picnicVeg {
    width: 250px;
}
/* discover */
hr {
    border-style: 1px solid;
    width: 70px;
    display: block;
    margin: auto;
}
/* discover */
.discover {
    text-align: center;
    margin: 40px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3em;
}
.discover h1 {
    font-size: 40px;
}
/* Carousel */
.carousel {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 100px;
}
.carousel img {
    width: 400px;
}
.carousel p {
    color: #004E36;
    margin-top: 15px;
}

/* motivational mountain */
.mountain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url(https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/3f/b5/aef3604e47f685a2f8ce2ac7f6ce/23-wfm-q2-brandmoment-shutterstock-1733984780._TTW_._CR0,2,4896,1958_._SR1800,720_._QL100_.jpg);
}
#motive {
    width: 900px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
/* offers */
.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 100px;
    position: absolute;
    /* gap: 50px; */
}
/* PRIME */
.primeMembers {
    width: 460px;
    background: #fff;
}
.primeMembers h1 {
    font-weight: 500;
}
.primeMembers p {
    margin: 10px 0 20px 0;
}
#exclusions {
    opacity: 60%;
}
/* visa */
.amazon {
    width: 230px;
    text-align: center;
    z-index: 99;
    position: relative;
    left: 160px;
}
.amazon h2,p {
    color: black;
    background: #fff;
}
.amazon a {
    margin: 10px 0 10px 0;
    text-decoration: none;
    color: black;
}
/* delivery */
.delivery {
    z-index: 99;
    position: relative;
    left: 290px;
    top: 120px;
    width: 310px;
    text-align: center;
}
.delivery a {
    text-decoration: none;
    color: black;
}
/* background pic n div */
.background {
    display: flex;
    justify-content: flex-end;
    margin: 100px 0 100px 0;
}
.backImg {
    background: url(https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/fb/0e/601957a4498aaf1c7652f0c53197/1-hero-white._TTW_._CR0,0,1440,1800_._SR720,900_._QL100_.jpg);
    height: 900px;
    width: 600px;
}
.backEmpty {
    background: #f8f7f5;
    width: 600px;
}

/* -------------------------------------------- */
/* FOOTER */
.logopic2 {
    /* width: 20%; */
    margin-left: 40px;
    padding: 20px;
  }
  .copyright {
    background-color: #006936;
  }
  #copylist {
    color: white;
    display: flex;
    list-style: none;
    margin-left: 30px;
  }
  .footersection {
    background-color: #004E36;
    color: white;
    border: 1px solid #004E36;
  }
  .contentsection {
    display: flex;
    justify-content: space-around;
    z-index: 9;
  }
  .contentsection p {
    background: #004E36;
    color: #fff;
  }
  .amazon {
    color: white;
    text-align: center;
  }
  .NeedHelp {
    border-left: solid white;
    padding-left: 40px;
    background: #004E36;
  }
  .shopping {
    margin-bottom: 25px;
  }
  .shopping p {
    background: #004E36;
    color: #fff;
  }
  .shop {
    list-style: none;
  }
  .email {
    background-color: #004E36;
    border: white 0.2px solid;
    color: white;
    height: 50px;
    width: 200px;
    margin-left: 20px;
  }
  .Socials {
    height: 70px;
  }
  .amazon {
    height: 35px;
  }